
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



h1 {
  color: yellow;
  -webkit-text-stroke: 2px red;
  font-size: clamp(2rem, 8vw, 4rem);
}

img {
  max-width: 100%;
  height: auto;
  width: clamp(100px, 50vw, 400px);
}