
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



h1 {
  color: yellow;
  -webkit-text-stroke: 2px red;
  font-size: clamp(2rem, 8vw, 4rem);
}

img {
  max-width: 100%;
  height: auto;
  width: clamp(100px, 50vw, 400px);
}

.project {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}
.project-image {
  flex: 0 0 35%;
}
.project-image img {
  width: 100%;
  height: auto;
  display: block;
}
.project-content {
  flex: 1 1 65%;
  text-align: left;
}
@media (max-width: 900px) {
  .project {
    flex-direction: column;
    text-align: center;
  }
  .project-content {
    text-align: center;
  }
  .project-image {
    width: 80%;
    flex: none;
  }
}