@font-face {
  font-family: myFont;
  src: url(OPTIVenus-BoldExtended.otf);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #000022;
  font-family: myFont;
  
  

}

h1 {
  color: yellow;
  -webkit-text-stroke: 2px red;
}